.page{
    width: 375px;
}
header{
    width: auto;
}
.menu{
    width: 100px;
}
.input{
    margin-bottom: 20px;
}
.box_filtres{
    margin: 0px;
}
.filtres{
    margin-bottom: 10px;
}
.padd{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
}
.container{
    margin-left: 20px;
    margin-right: 20px;
}
.les_plus_populaires{
    border-radius: 0px;
    width: auto;
}
.populaire_block{
    padding-right: 20px;
    padding-left: 20px;
}
.box{
    margin-bottom: 20px;
}
.heber{
    height: 120px;
}
.box_activite_full{
    padding-left: 20px;
    padding-right: 20px;
}
.pic_size_1{
    height: 135px;
}
.activite_image_2{
    height: 135px;
}
.desc_act{
    height: 30px;
}