.page{
    width: 375px;
    padding: 0;
}
header{
    width: auto;
}
.menu{
    width: 70%;
}
.input{
    margin-bottom: 20px;
}
.box_filtres{
    margin: 0px;
}
.filtres{
    margin-bottom: 10px;
}
.padd{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
}
.box, .box_middle{
    margin-left: 20px;
    margin-right: 20px;
}
.les_plus_populaires{
    border-radius: 0px;
    width: auto;
}
.populaire_block{
    padding-right: 20px;
    padding-left: 20px;
}
.box{
    margin-bottom: 20px;
}
.heber{
    height: 120px;
}
.activite_1, .activite_2, .activite_2_end{
    margin-right: 20px;
    margin-left: 20px;
}
.pic_size_1{
    height: 135px;
}
.activite_image_2{
    height: 135px;
}
.desc_act{
    height: 30px;
}
.footer_div{
    align-self: start;
}