@font-face {
font-family: 'raleway';
src: url(police/Raleway/static/Raleway-SemiBold.ttf)
}
@font-face{
font-family: 'raleway_bold';
src: url(police/Raleway/static/Raleway-ExtraBold.ttf)
}
a{ 
 text-decoration: none; 
 color: black
}
.ins{
    color: #0065FC
}
.infoicone{
    color: #0065FC;
    border: 1px solid #f2f2f2;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 10px;
}
.shadow{
    box-shadow: 1px 7px 15px #1f1f1f2a;
}
::placeholder{
    font-weight: bold;
    color: black;
}
.padd20px{
    padding-left: 20px;
    margin-bottom: 30px;
}
.line5{
    line-height: 17px;
    font-size: 13px;
}
.padd5{
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    height: 55px;
}
.padd{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 20px;
}
.height{
    line-height: 0em;
    padding-bottom: 10px;
    padding-left: 20px;
}
.view{
    border: 1px solid black;
}
body{
    font-family: 'raleway';
    font-size: 12px;
    margin: 0px;
}
strong{
    font-family: 'raleway_bold';
}
.input{
    display: flex;
    align-items: center;
    padding-left: 20px
}
.icone_input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 19px;
    width: 19px;
}
input{
    padding: 9px;
    border: 1px solid #f2f2f2; 
}
button{
    background-color: #0065FC;
    color: white;
    font-family: 'raleway_bold', 'raleway';
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 9px;
    border: none;
}
.page{
    padding-right: 20px;
    padding-left: 20px;
    width: 1100px;
    margin: auto;
}
/*TOP*/
}
li:hover{
    border-top: solid 2px #0065FC;
}
li{
    list-style: none;
    margin-left: 30px;
    height: 79px;
    align-items: center;
    display: flex;
}
li a{
    text-decoration: none;
    color: black;
}
.navclass{
    color: #0065FC;
    text-decoration: none;
}
.nav{
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    
    align-items: center;
}
.menu{
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
    width: 30%;
    height: 79px;
    align-items: center;
}
/*TABLEAU 1*/
.skull{
    display: flex;
    height: auto;
    width: 1;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.titre{
    padding-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
/*LOGEMENTS*/
.ensemble_1{
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-right: 20px;
    max-width: 680px;
}   

.container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.heber{
    width: 190px;
    height: 90px;
    align-items: flex-start;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.box:hover{
    opacity: 0.65;    
}
.box_middle:hover{
    opacity: 0.65;
}
.box_middle{
    width: 191px;
    height: 150px;
    border: 3px solid white;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; 
}
.box{
    width: 190px;
    height: 150px;
    border: 4px solid white;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* LES PLUS POPULAIRES */
.pop_text{
    font-size: 13px;
    margin-right: 30px;
    line-height: 19px;
}
.les_plus_populaires{
    background-color: #f2f2f2;
    border-radius: 15px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    width: 355px;
}
.pop:hover{
    opacity: 0.65;
}
.pop{
    border-radius: 15px;
    background-color: white;
    height: 115px;
    display: flex;
    border: 4px solid white; 
}
.pop_img{
    width: 115px;
    height: 115px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}
.pop_side{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}
.populaire_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
/*FILTRES*/
.filter-end{
    min-width: 375px;
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
}
.box_filtres{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}
.filtres-start{
    display: flex;
    align-items: center;
}
.filtres:hover{
    background-color: #0065FC;
    color: white;
}
.filtres{
    border-right: 2px solid #d9d9d9;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-left: 30px;
}
.icone_filtre{
    background-color: #DEEBFF;
    height: 34px;
    width: 34px;
    border-radius: 15px;
    align-items: center;
    justify-content: center; 
    display: flex; 
} 
.marg1{
    margin-left: 8px;
    margin-right: 12px;
}
.cont_info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.titre{
    padding: 10px;
}
/*ACTIVITES*/
.box_full{
    max-width: 100%;
    min-height: 500px;
}
.desc_act{
    background-color: white;
    margin: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.pic_size_1{
    width: 250px;
    height: 467px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.activite_image_2{
    width: 250px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.activite_2_end{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 1;
    margin-left: 20px;
    margin-right: 20px;
}
.activite_2{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 1;
    min-height: 1;
    margin-left: 20px;
    border-radius: 15px;
}
.activite_2_1{
    margin-bottom: 20px;
    border-radius: 15px
}
.activite_2_1:hover{
    opacity: 0.65;
}
.activite_2_2{
    border-radius: 15px
}
.activite_2_2:hover{
    opacity: 0.65;
}

.activite_1:hover{
    opacity: 0.65;
}
.activite_1{
   display: flex;
   flex-direction: column;
   width: 1;
   height: 1;
   width: 250px;
   border-radius: 15px;
   margin-left: 20px;
}
.box_activite_full{
    display: flex;
    height: 1;
}
/*FOOTER*/
footer{
    margin-top: 30px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}
.footer_style{
    justify-content: space-between;
    display: flex;
    background-color: #f2f2f2;
    margin-top: 70px;
    height: 200px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 1100px;
    margin: auto;
}
.footer_div{ 
    height: 160px;
    margin-left: 25px;
    margin-right: 25px;
    width: 335px;
}
.footer-p{
    line-height: 30px;
}
